@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --mainColor: #f7f6f9;
    --textColor: #130f40;
    --Background: #ffffff;
    --CtrBackground: #d9d4e7;
    --B2: #ffffff;
    --linkColor: #383347;
    --text3: #52389b;
    --text2: #494262;
    --hoverBackground: rgba(211, 211, 211, 0.4);
    --shadowColor: rgba(0, 0, 0, 0.1);
}

/* Dark Mode */
.dark {
    --mainColor: #1a1a1a;
    --textColor: #ffffff;
    --Background: #2a2a2a;
    --linkColor: #e0e0e0;
    --CtrBackground: #3b3847;
    --text2: #6148a7;
    --text3: #d0adf8;
    --B2: #222123;
    --hoverBackground: rgba(100, 100, 100, 0.4);
    --shadowColor: rgba(255, 255, 255, 0.1);
}

.about-us-section {
    background-color: var(--CtrBackground);
    width: 100%;
    margin: 0;
    /* padding: 20px 0px 70px; */
    padding: 2rem 0.5rem;
    overflow-x: hidden;
}

h2 {
    font-family: 'Dancing Script', cursive !important;
    color: var(--text);
    font-weight: bold;
}

p {
    font-family: 'Edu SA Beginner', cursive !important;
}

.about-us-section .title {
    text-decoration: underline;
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: bolder;
    position: relative;
    text-align: center;
    color: var(--text3);
}

.about-us-section .container {
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 1.5rem;
    /* border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    background-color: var(--B2);
    box-shadow: none;
    height: 750px;
}

.about-us-section .container._1 .detail,
.about-us-section .container._3 .detail {
    width: 100%;
}

.about-us-section .container._2 {
    height: auto;
}

.about-us-section .container img {
    width: 90%;
}

.container-img {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 80%;
}

.content {
    width: 100%;
}

.container._2 .offer {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4.5rem;
    margin: 1rem auto;
    padding: 2rem;
    width: 80%;
    height: 360px;

}

.features .features-img {
    position: absolute;
    top: 60%;
    left: 2%;
    width: 100%;
}

.features img {
    width: 100%;
    height: 8rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #806ec687;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backdrop-filter: blur(3px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(100%);
}

.overlay-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #806ec687;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backdrop-filter: blur(3px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(100%);
}


.container:hover .overlay {
    width: 0;
}

.container:hover .overlay-1 {
    width: 0%;
    left: 100%;
}

.headD {
    color: var(--text3);
}

.text {
    white-space: nowrap;
    color: #4E4768;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px #b5a9e5;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about-us-section ._1 {
    text-align: center;
    box-shadow: 4px 6px 10px #504f4f;
    /* color: #1a88e9; */
}


.about-us-section ._2 {
    text-align: center;
    background-color: transparent;
    flex-direction: column;
    color: #5e46be;
}

.about-us-section ._3 {
    box-shadow: 4px 6px 10px #504f4f;
    /* color: #3a99cf; */
}

.about-us-section ._4 {
    background-color: transparent;
    /* color: #6684f9; */
}

.about-us-section ._5 {
    box-shadow: 4px 6px 10px #504f4f;
    /* color: #2dabef; */
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text3);
    text-shadow: 2px 2px 2px #3b278aa8;
    margin: 1rem 0;
}

.about-us-section ._1 .heading1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(253, 253, 253);
}


.content {
    /* font-size: 18px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text2);
}

.about-us-section .container img {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}


.about-us-section .container._1 .detail,
.about-us-section .container._3 .detail,
.about-us-section .container._4 .detail,
.about-us-section .container._5 .detail {
    width: 100%;
    margin-top: -16rem;
}


@media (min-width: 900px) {
    .about-us-section {
        padding: 20px 0px 70px;
    }

    .about-us-section .container {
        flex-direction: row;
        border-radius: 1rem;
        gap: 1rem;
        height: auto;
    }

    .about-us-section .title {
        text-align: left;
    }

    .about-us-section .container._2 {
        flex-direction: column;
    }

    .about-us-section .container._2 .detail {
        width: 100%;
    }

    .about-us-section ._1 {
        text-align: left;
    }

    .container-img {
        position: static;
    }

    .container-img img {
        width: 25rem;
        height: 25rem;
    }

    .container._2 .offer {
        flex-direction: row;
    }

    .features {
        margin: 1rem;
        padding: 2rem;
        width: 30%;
        height: auto;
    }

    .about-us-section .container .detail,
    .about-us-section .container .container-img {
        width: 50%;
    }

    .about-us-section .container._1 .detail,
    .about-us-section .container._3 .detail,
    .about-us-section .container._4 .detail,
    .about-us-section .container._5 .detail {
        width: 50%;
    }

    .about-us-section .container._3 .detail,
    .about-us-section .container._4 .detail,
    .about-us-section .container._5 .detail {
        margin: auto 2rem;
    }

    .about-us-section .container._1 .detail {
        margin-top: 0;
    }

    .features {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .features .features-img {
        width: 50%;
        top: 8%;
        left: 25%;
    }

    .features img {
        width: 5rem;
        height: 5rem;
    }

    .features-content {
        margin-top: 6rem;
    }

    .text {
        font-size: 4rem;
    }
}