:root {
    --mainColor: #f7f6f9;
    --textColor: #130f40;
    --Background: #ffffff;
    --CtrBackground: #d9d4e7;
    --B2: #ffffff;
    --linkColor: #383347;
    --text3: #52389b;
    --text2: #494262;
    --hoverBackground: rgba(211, 211, 211, 0.4);
    --shadowColor: rgba(0, 0, 0, 0.1);
}

/* Dark Mode */
.dark {
    --mainColor: #1a1a1a;
    --textColor: #ffffff;
    --Background: #2a2a2a;
    --linkColor: #e0e0e0;
    --CtrBackground: #3b3847;
    --text2: #b3aacc;
    --text3: #d0adf8;
    --B2: #222123;
    --hoverBackground: rgba(100, 100, 100, 0.4);
    --shadowColor: rgba(255, 255, 255, 0.1);
}

.allbooksbackg{
    background-color: var(--Background);
  }
  
  .aBH1{
    color: var(--textColor);
    text-decoration-color: var(--textColor);
  }