.main-container {
    position: relative;
    left: auto;
    background-color: #F9FAFB;
    min-height: 600px;
    padding-top: 80px;
    margin-top: 0;
}

.main-container .box-container {
    background-color: #ffffff;
    padding: 3.5rem 2.5rem;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 70%;
    border-radius: 1rem;
    margin: auto;
}

.main-container .otp-container .inpBox {
    width: 4rem;
    height: 4rem;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.main-container .btn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #1d4395d1;
    border-radius: 5px;
    color: #f7f6fc;
    padding: 7px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.main-container .resend-container {
    display: flex;
    justify-content: center;
}

.main-container .resend-container p {
    margin: 5px;
}