.mainContainer {
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainContainer .container {
    border-radius: 12px;
    text-align: left;
    width: 80% !important;
    position: relative;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f0efefda;
    transition: all 0.4s ease-out;
    box-shadow: 2px 5px 10px rgba(145, 145, 145, 0.502);
}